@import 'vars';

.archive-template {
  p {
    text-align: center;
    margin-bottom: 3rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .boxWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    //grid-template-columns: repeat(auto-fill, fit-content(200px));
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
      margin: 0 0 3rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .box {
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: calc(300px - 16px);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-tap-highlight-color: transparent;
    margin: 8px;
    text-decoration: none;

    @include tablet {
      width: calc(100% - 16px);
    }

    @include mobile {
      width: calc(100% - 16px);
      height: 170px;
    }

    &:hover {
      text-decoration: none !important;
    }

    &:visited {
      color: unset !important;
    }

    &:hover .bg {
      transform: scale(1.1);
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: transform .24s ease-in-out;
    }

    .title-wrapper {
      backdrop-filter: blur(12px);
      //margin: 12px;
      padding: 8px 16px;
      z-index: 1;
      border-radius: 0 0 8px 8px;
      display: flex;
      flex-direction: column;

      @include mobile {
        padding: 8px;
      }

      span.title {
        font-family: sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.6em;
        z-index: 1;

        @include mobile {
          font-size: 1em;
          text-align: center;
          line-height: 1.1em;
          margin-bottom: 4px;
        }
      }

      span.subtitle {
        font-family: sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1em;
        line-height: 1em;
        z-index: 1;

        @include mobile {
          font-weight: normal;
          text-align: center;
        }
      }
    }
  }
}